*.jpg
*.avi
*.mp4
*.pickle
*.csv
*test*
*.ipynb
__pycache__
hubconf.py
export_onnx.py
tools/train.py
tools/demo.py
tools/imu.py
/toolkits
/tmp
/runs
/tau
.vscode
lib/utils/split_dataset.py
lib/utils/augmentations.py
lib/utils/autoanchor.py
lib/dataset
lib/core/activations.py
lib/core/evaluate.py
lib/core/function.py
lib/core/loss.py
lib/core/postprocess.py
lib/core/__init__.py
lib/models
lib/config
